<div class="hashtag-title-content buffer-both text-center">
  <h1 class="text-lead">Все вопросы по хештегу <p class="hashtag-title"><%= @hashtag.text %></p></h1>
</div>
<%= render partial: 'questions/question', collection: @questions %>